.title-preview {
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    margin: 0 !important;
    padding-bottom: 10px;
    
}

.subtitle {
    margin: 0 !important;
    padding-bottom: 10px;
}

.soil-name {
    display: flex;
    font-size: 12px;
}

.link-soil {
    margin-left: 5px;
    background: white;
    border-bottom: 1px solid $color-1;
    cursor: pointer;
}

.cancel-preview {
    z-index: 100;
    position: absolute;
    font-size: 18px;
    background: $color-1;
    padding: 8px;
    border-radius: 5px;
    left: 50%;
    margin-left: -50px;
    top: 90%;
    margin-top: -50px;
}